target/*
!target/inventory-service-0.0.1-SNAPSHOT.jar
AppServerAgent.zip
.DS_Store
.classpath
.project
.settings/
/target/
inventoryservice/AppServerAgent.zip
paymentservice/AppServerAgent.zip
purchaseservice/AppServerAgent.zip
AppServerAgent_orig.zip